<div id="age-parent" class="age-bg">
    <div class="age-wrapper">
      <div class="w-embed"><svg width="89" height="88" viewBox="0 0 89 88" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1" y="0.5" width="87" height="87" rx="43.5" stroke="#CACACA"></rect>
          <path d="M37.6916 39.834C37.1636 41.11 35.4696 41.88 32.4336 41.88V40.362C35.7116 40.362 37.6256 38.844 37.9556 36.534H39.8256V52H37.6916V39.834ZM49.3391 52.44C45.2031 52.44 42.4531 50.614 42.4531 47.864C42.4531 45.796 44.0811 44.124 46.5011 43.728C44.6531 43.442 43.3771 42.078 43.3771 40.296C43.3771 37.81 45.7531 36.16 49.3391 36.16C52.9471 36.16 55.3231 37.81 55.3231 40.296C55.3231 42.078 54.0471 43.442 52.1771 43.728C54.5971 44.124 56.2471 45.796 56.2471 47.864C56.2471 50.614 53.4751 52.44 49.3391 52.44ZM49.3391 50.966C52.1771 50.966 54.0691 49.69 54.0691 47.798C54.0691 45.862 52.1771 44.542 49.3391 44.542C46.5231 44.542 44.6311 45.862 44.6311 47.798C44.6311 49.69 46.5231 50.966 49.3391 50.966ZM49.3391 43.222C51.6711 43.222 53.2331 42.056 53.2331 40.384C53.2331 38.734 51.6711 37.59 49.3391 37.59C47.0291 37.59 45.4671 38.734 45.4671 40.384C45.4671 42.056 47.0291 43.222 49.3391 43.222Z" fill="black"></path>
          <path d="M61.8334 48.93V45.294H57.9634V44.106H61.8334V40.47H63.1834V44.106H67.0354V45.294H63.1834V48.93H61.8334Z" fill="#55EC3B"></path>
          <path d="M62.5 37.35C59.79 30.1363 52.7987 25 44.6013 25C34.052 25 25.5 33.5066 25.5 44C25.5 54.4934 34.052 63 44.6013 63C52.4341 63 59.1657 58.3104 62.1132 51.6" stroke="black" stroke-width="1.63" stroke-linecap="round"></path>
        </svg></div>
      <div class="text-age">{{ 't1b847bc' | t }}</div>
      <div class="text-align-center">{{ 't139a6842' | t }}</div>
      <a id="over-age" href="#" class="button is-secondary w-inline-block">
        <div>{{ 'tn64168160' | t }}</div><img src="{{ 'icon-button.svg' | asset_url }}" loading="lazy" alt="" class="icon-button">
      </a>
    </div>
  </div>