{% capture listItems %}
{% for item in collections[settings.collection_2_home].products limit: settings.collection_2_home_limit %}
<div role="listitem" class="collection-item w-dyn-item">
                      <div id="w-node-c0c0f585-9d3f-b548-478f-e9f09317f8f5-05ae55fe" class="card-nav-wrapper">
                        {%- if item.metafields.udesly['coming-soon'] == "false" -%}<a href="{{ item.url }}" class="link-product-card w-inline-block"></a>{%- endif -%}
                        <h4 class="card-nav-heading">Medical</h4><img loading="lazy" src="{{ item.metafields.udesly['shop---photo'].src }}" alt="" class="image-bg">
                        {%- if item.metafields.udesly['coming-soon'] == "true" -%}<div>Coming soon</div>{%- endif -%}
                        <div class="icon-nav is-card w-embed"><svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.332 23.9987H28.6654M28.6654 23.9987L23.9987 19.332M28.6654 23.9987L23.9987 28.6654" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg></div>
                      </div>
                    </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="nav-products w-dyn-list" udy-collection="product">
                  {%- unless items_length == 0 -%}<div role="list" class="nav-product-wrapper w-dyn-items">
                    {{ listItems }}
                  </div>{%- endunless -%}
                  {%- if items_length == 0 -%}<div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>{%- endif -%}
                </div>