<div class="spline-wrapper spline-wrapper-center">
    <div class="spline-container" data-spline-url="https://prod.spline.design/a2Xd7h399s-BFTYa/scene.splinecode">
        <canvas></canvas>
    </div>
</div>