<div class="spline-wrapper spline-wrapper-top">
    <div class="spline-container" data-spline-url="https://prod.spline.design/4ST17LuSwrWMpHgk/scene.splinecode">
        <canvas></canvas>
    </div>
</div>