<div class="spline-wrapper spline-wrapper-custom">
    <div class="spline-container" data-spline-url="REPLACE_WITH_YOUR_SPLINE_URL">
        <canvas></canvas>
    </div>
</div>

<style>
.spline-wrapper-custom {
    width: 100%;
    height: 100%;
    position: relative;
}
.spline-wrapper-custom .spline-container {
    width: 100%;
    height: 100%;
}
</style>






















